<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="login container w-25">
                <h1 class="mb-sm-4">Login</h1>
                <form method="post" action="/login">
                    <div class="text-start">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <label class="form-label">Email</label>
                        <input type="email" name="username" class="form-control mb-sm-4">

                        <label class="form-label">Password</label>
                        <input type="password" name="password" class="form-control mb-sm-4">

                    </div>
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="remember-me"> 로그인 기억하기
                        </label>
                    </div>
                    <div class="error-message py-2" th:if="${param.error}">
                        <span> 아이디나 패스워드가 올바르지 않습니다. </span>
                    </div>
                    <button class="btn btn-primary my-2" type="submit">Login</button>
                </form>
            </div>
        </div>
    </header>
</th:block>
</html>