<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container px-5">
                <h1 class="masthead-heading mb-0">Simple Review</h1>
                <h2 class="masthead-subheading mb-0">Simple Review 작성하기</h2>
                <a class="btn btn-primary btn-xl rounded-pill mt-5" href="#scroll">Go</a>
            </div>
        </div>
    </header>

    <section id="scroll">
        <div class="container p-4 d-grid grid-columns-2 text-center">
            <div class="p-4 m-4">
<!--                <a href="/restaurant"><h2 class="display-4">Restaurant</h2></a>-->
            </div>
            <div class="p-4 m-4">
<!--                <a href="#"><h2 class="display-4">Review</h2></a>-->
            </div>
        </div>
    </section>
</th:block>
</html>