<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="login container w-25">
                <h1 class="mb-sm-4">Password 변경</h1>
                <div th:if="${message}" class="alert alert-info alert-dismissible fade show mt-2" role="alert">
                    <span th:text="${message}">메시지</span>
                    <button type="button" class="btn close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post" action="#" th:action="@{/user/{email}(email=${email})}" th:object="${passwordDto}">
                    <input type="hidden" name="_method" value="PUT">
                    <div class="text-start">
                        <div class="my-3">
                            <label for="newPassword" class="form-label">새 Password</label>
                            <input id="newPassword" name="newPassword" class="form-control mb-sm-2" type="password">
                            <small id="newPasswordHelp" class="form-text text-muted d-block">
                                새 패스워드를 입력하세요.
                            </small>
                            <small class="invalid-feedback">패스워드를 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">New Password Error</small>
                        </div>

                        <div class="my-3">
                            <label for="newPasswordConfirm" class="form-label">새 Password 확인</label>
                            <input id="newPasswordConfirm" name="newPasswordConfirm" class="form-control mb-sm-2" type="password">
                            <small id="newPasswordConfirmHelp" class="form-text text-muted d-block">
                                새 패스워드를 다시 한번 입력하세요.
                            </small>
                            <small class="invalid-feedback">새 패스워드를 다시 입력하세요.</small>
                            <small class="form-text text-danger" th:if="${#fields.hasErrors('newPasswordConfirm')}" th:errors="*{newPasswordConfirm}">New Password Confirm Error</small>
                        </div>
                    </div>

                    <button class="btn btn-primary my-2" type="submit">Change</button>
                </form>
            </div>
        </div>
    </header>
</th:block>
</html>