<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <header class="masthead text-center text-white">
        <div class="masthead-content h-75">
            <div class="container w-75">

                <div class="container py-5 w-50">
                    <form method="get" th:action="@{/restaurant/search}">
                        <div class="row">
                            <div class="col-sm-6 col-md-8">
                                <input id="searchBox" style="height: 46px" class="form-control form-control-lg" type="text" name="query">
                            </div>
                            <div class="col-sm-6 col-md-4">
                                <button id="searchButton" type="button" class="btn btn-primary btn-lg" style="width: 100%">검색</button>
                            </div>
                        </div>
                    </form>
                </div>


                <div class="container py-5">
                    <table th:if="${resultTable}" class="table">
                        <thead>
                        <tr>
                            <td>Title</td>
                            <td>Category</td>
                            <td>Address</td>
                            <td>HomepageLink</td>
                            <td></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span th:text="${result.title}"></span></td>
                            <td><span th:text="${result.category}"></span></td>
                            <td><span th:text="${result.address}"></span></td>
                            <td><a th:href="${result.homePageLink}"><span th:text="${result.homePageLink}"></span></a></td>
                            <td>
                                <form method="post" th:action="@{/restaurant/list}">
                                    <input type="hidden" th:value="${result.title}" name="title">
                                    <input type="hidden" th:value="${result.category}" name="category">
                                    <input type="hidden" th:value="${result.address}" name="address">
                                    <input type="hidden" th:value="${result.roadAddress}" name="roadAddress">
                                    <input type="hidden" th:value="${result.homePageLink}" name="homePageLink">
                                    <input type="hidden" th:value="${result.imageLink}" name="imageLink">
                                    <input type="hidden" th:value="${result.isVisit}" name="isVisit">
                                    <input type="hidden" th:value="${result.visitCount}" name="visitCount">
                                    <input type="hidden" th:value="${result.lastVisitDate}" name="lastVisitDate">
                                    <button class="btn btn-primary btn-sm">방문 추가</button>
                                </form>
                            </td>
                        </tr>
                        <tr>
                            <img th:src="${result.imageLink}" width="650" height="350"/>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>
