<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="container w-75">
                <div class="container py-5">
                    <table class="table">
                        <thead>
                        <tr>
                            <td>Id</td>
                            <td>Title</td>
                            <td>Category</td>
                            <td>Address</td>
                            <td>HomepageLink</td>
                            <td>VisitCount</td>
                            <td>Delete</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:id="'list' + ${restaurant.id}" class="list" th:each="restaurant : ${restaurants}">
                            <td><span th:text="${restaurant.id}"></span></td>
                            <td><span th:text="${restaurant.title}"></span></td>
                            <td><span th:text="${restaurant.category}"></span></td>
                            <td><span th:text="${restaurant.address}"></span></td>
                            <td><a th:href="${restaurant.homePageLink}"><span th:text="${restaurant.homePageLink}"></span></a></td>
                            <td class="add">
                                <span class="m-5" th:text="${restaurant.visitCount}"></span>
                                <button class="btn btn-primary btn-sm" th:onclick="|addBtnClick('${restaurant.id}');|">추가</button>
                            </td>
                            <td class="delete">
                                <button class="btn btn-primary btn-sm" th:onclick="|delBtnClick('${restaurant.id}');|">삭제</button>
                            </td>
                            <td>
                                <button class="btn btn-primary btn-sm" onclick="reviewClick();">리뷰 작성</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <script>
                        function addBtnClick(id) {
                            fetch(`http://localhost:8080/restaurant/api/${id}`, {
                                method: "POST",
                                headers: {
                                    "Content-Type": "application/json",
                                 },
                            })
                                .then((data) => console.log(data));
                            const list = document.querySelector(`tr.list[id=list${id}]`);
                            const span = list.querySelector(".add span");
                            span.innerHTML = parseInt(span.innerHTML, 10) + 1;
                        }

                        function delBtnClick(id) {
                            fetch(`http://localhost:8080/restaurant/api/delete/${id}`, {
                                method: "DELETE",
                            })
                                .then((data) => console.log(data));
                            const list = document.querySelector(`tr.list[id=list${id}]`);
                            list.remove();
                        }

                        function reviewClick() {
                            var url = "/write";
                            var name = "popup test";
                            var option = "width = 500, height = 500, top = 100, left = 200, location = no"
                            window.open(url, name, option);
                        }
                    </script>
                </div>
            </div>
        </div>
    </header>
</th:block>
</html>
