<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
  <header class="masthead text-center text-white vh-100">
      <div class="masthead-content">
          <div class="container">
              <form method="post" action="#" th:action="@{/review}" th:object="${reviewDto}">
                  <span class="d-block p-3" th:text="${title}"></span>
                  <input name="title" type="hidden" th:value="${title}">
                  <input name="content" class="content form-control w-50 p-4 d-table mx-auto" type="text" maxlength="50">
                  <small class="form-text text-danger d-block" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">Review Error</small>
                  <button class="btn btn-primary m-xxl-4" type="submit">저장</button>
              </form>
          </div>
      </div>
  </header>
</th:block>
</html>


