<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <header class="masthead text-center text-white">
        <div class="masthead-content">
            <div class="login container w-25">
                <h1 class="mb-sm-4">Sign Up</h1>
                <form method="post" th:action="@{/new}">
                    <div class="text-start">
                        <label class="form-label">Email</label>
                        <input name="email" class="form-control mb-sm-2" type="email" th:value="${email}">
                        <div class="py-1" th:if="${emailCheck}">
                            <span th:text="${msg}"></span>
                        </div>
                        <button class="small btn btn-primary d-block mb-sm-2" formaction="/check?email=${email}" type="submit" formmethod="get">Email 중복 확인</button>

                        <label class="form-label">Password</label>
                        <input name="password" class="form-control mb-sm-4">

                        <input type="radio" name="auth" value="ROLE_ADMIN,ROLE_USER"> admin
                        <input type="radio" name="auth" value="ROLE_USER" checked="checked"> user <br>
                    </div>
                    <div class="error-message py-2" th:if="${joinError}">
                        <table>
                            <tr th:each="r : ${result}">
                                <div th:text="${r}"></div>
                            </tr>
                        </table>
                    </div>
                    <button class="btn btn-primary my-2" type="submit">Join</button>
                </form>
            </div>
        </div>
    </header>
</th:block>
</html>