<table class="table">
    <thead>
    <tr>
        <td>Title</td>
        <td>Category</td>
        <td>Address</td>
        <td>HomepageLink</td>
        <td>VisitCount</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:id="'list' + ${restaurant.id}" class="list" th:each="restaurant : ${restaurants}">
        <td><span th:text="${restaurant.title}"></span></td>
        <td><span th:text="${restaurant.category}"></span></td>
        <td><span th:text="${restaurant.address}"></span></td>
        <td><a th:href="${restaurant.homePageLink}"><span th:text="${restaurant.homePageLink}"></span></a></td>
        <td class="add">
            <span class="m-5" th:text="${restaurant.visitCount}"></span>
            <button class="btn btn-primary btn-sm" th:onclick="|addRestaurantBtnClick('${restaurant.id}');|">추가</button>
        </td>
        <td class="delete">
            <button class="btn btn-primary btn-sm" th:onclick="|delRestaurantBtnClick('${restaurant.id}');|">삭제</button>
        </td>
        <td>
            <form method="get" th:action="@{/write}">
                <input type="hidden" name="title" th:value="${restaurant.title}">
                <button class="btn btn-primary btn-sm">리뷰 작성</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

