<div class="p-5">
    <table class="table">
        <tbody>
        <tr>
            <td>Email</td>
            <td><span class="email" sec:authentication="name"></span></td>
        </tr>
        <tr>
            <td>Auth</td>
            <td><span sec:authentication="principal.authorities"></span></td>
        </tr>
        <tr>
            <td>비밀번호 변경</td>
            <td><a class="btn btn-primary" href="/change/password">비밀번호 변경</a></td>
        </tr>
        <tr>
            <td>Delete Account</td>
            <td>
<!--                <form method="get">-->
<!--                    <button class="delete btn btn-primary" formaction="/delete" type="submit">Delete Account</button>-->
<!--                </form>-->
                <button class="delete-user btn btn-primary" type="button" th:onclick="|deleteUserClick();|">Delete Account</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--<script src="/js/userinfo.js"></script>-->

