<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <header class="masthead text-center text-white h-100">
        <div class="tab">
            <div class="tab-menu">
                <div class="restaurant-list">Restaurant List</div>
                <div class="review-list">Review List</div>
                <div class="user-info">User Info</div>
            </div>
            <section class="content border border-3 border-white my-3">

            </section>
        </div>
    </header>

    <script src="/js/userpage.js"></script>
    <script src="/js/review-list.js"></script>
    <script src="/js/restaurant-list.js"></script>

</th:block>
</html>
