<div class="p-5">
    <table class="table">
        <tbody>
        <tr>
            <td>Email</td>
            <td><span class="email" sec:authentication="name"></span></td>
        </tr>
        <tr>
            <td>Auth</td>
            <td><span sec:authentication="principal.authorities"></span></td>
        </tr>
        <tr>
            <td>비밀번호 변경</td>
            <td><a class="btn btn-primary" href="/userinfo/password">비밀번호 변경</a></td>
        </tr>
        <tr>
            <td>Delete Account</td>
            <td>
                <form class="delete-form" action="#" method="post" th:action="@{/user/{email}(email=${email})}">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="delete btn btn-primary" th:onclick="|deleteUserClick();|" type="button">Delete Account</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="/js/userinfo.js"></script>

