<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout/layout}">

<th:block layout:fragment="content">
    <!-- Begin Page Content -->
    <header class="masthead text-center text-white h-100">
        <div class="tab">
            <div class="tab-menu">
                <div>Restaurant List</div>
                <div>Review List</div>
                <div>User Info</div>
            </div>
            <section class="content border border-3 border-white my-3">
                <h4>Hello Sir</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Quibusdam, ipsum.</p>
            </section>
        </div>
    </header>

    <script src="/js/restaurant-list.js"></script>
</th:block>
</html>
