<div class="p-5">
    <table class="table">
        <tbody>
        <tr>
            <td>Email</td>
            <td><span class="email" sec:authentication="name"></span></td>
        </tr>
        <tr>
            <td>Auth</td>
            <td><span sec:authentication="principal.authorities"></span></td>
        </tr>
        <tr>
            <td>비밀번호 변경</td>
            <td><button class="btn btn-primary">비밀번호 변경</button></td>
        </tr>
        <tr>
            <td>Delete Account</td>
            <td>
                <form method="get">
                    <button class="btn btn-primary" formaction="/delete" type="submit">Delete Account</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

